.catalog-container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

@media (max-width: 1450px) {
  .catalog-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1240px) {
  .catalog-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1020px) {
  .catalog-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .catalog-container {
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
}

.catalog__filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .catalog__filter-container {
    flex-direction: column;
    align-items: center;
  }
}
