.card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-family: Montserrat, sans-serif;
  color: rgb(74, 65, 65);
  font-weight: 100;
  font-size: 14px;
}

.card-description {
  color: #989898;
}

.card-price {
  margin: 0;
  margin-bottom: 10px;
  color: #989898;
}

.crossed {
  text-decoration: line-through;
}