.about-header {
  border-radius: 10px;
  text-indent: 50px;
  white-space: nowrap;
}

.about-text {
  text-indent: 50px;
  padding-right: 0.5em;
}

.about-context-right {
  text-indent: 0px;
  text-align: left;
  width: 500px;
  min-width: 400px;
  text-align: left;
  display: none;
}

.about-context-bottom {
  text-indent: 0px;
  text-align: left;
  width: 100%;
  display: none;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 0%;
}

.about-logo {
  width: 100px;
  float: right;
  padding-top: 20px;
}

.about-container {
  overflow: hidden;
  width: 100%;
  text-indent: 50px;
  padding-top: 30px;
  text-indent: 0px;
  text-align: center;
}

.about-shaped {
  width: 200px;
  height: 270px;
  background-size: cover;
  float: left;
  shape-margin: 0px;
  padding: 0px;
  border-radius: 0px;
  margin: 5px 20px 5px 10px;
  object-fit: cover;
  box-shadow: 2px 3px 10px #777777;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.about-portrait {
  width: 170px;
  height: 200px;
  align-self: center;
  object-fit: cover;
}

.about-portrait-title {
  font-style: italic;
  align-self: center;
  text-indent: 0px;
  padding-top: 5px;
}

.about-github {
  width: 26px;
  padding-left: 10px;
}

.about-github:hover {
  filter: brightness(120%);
}

@media (min-width: 1901px) {
  .about-context-right {
    display: block;
    min-width: calc(33vw - 113px);
  }
  .about-context-bottom {
    display: none;
  }
}

@media (max-width: 1900px) {
  .about-context-right {
    display: block;
    min-width: calc(100vw - 280px);
  }
  .about-context-bottom {
    display: none;
  }
}

@media (max-width: 768px) {
  .about-context-right {
    display: block;
    min-width: calc(90vw);
  }
  .about-context-bottom {
    display: none;
  }
}

@media (max-width: 576px) {
  .about-context-right {
    display: none;
  }
  .about-context-bottom {
    display: block;
    min-width: 80vw;
  }
}