body {
  margin: 0;
}

.site-layout .site-layout-background {
  background: #ffffff;
  padding: 0;
  margin: 0px 16px;
}

.header {
  text-align: right;
  margin: 0;
  padding: 0px 16px 0px 16px;
}

.logo {
  background-color: #bbbbbb;
  margin: 8px;
}

.logged {
  background-color: #87d068;
}
